<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo</title>
  <!-- <link rel="stylesheet" type="text/css" href="../css/module.css"> -->
  <link rel="stylesheet" type="text/css" href="../css/searchPage.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../lib/font/iconfont.css"> -->
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_333342_sg8rg9sb5s4w8kt9.css">
  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="../lib/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
  <script src="../lib/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="../lib/bootstrap-datepicker-master/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

  <link rel="stylesheet" type="text/css" media="all" href="../lib/daterangepicker/daterangepicker-bs3.css"
/>
<script type="text/javascript" src="../lib/daterangepicker/jquery.min.js">
</script>
<script type="text/javascript" src="../lib/daterangepicker/bootstrap.min.js">
</script>
<script type="text/javascript" src="../lib/daterangepicker/moment.js">
</script>
<script type="text/javascript" src="../lib/daterangepicker/daterangepicker.js">
</script>

</head>
<body>
	<div id="insideContain" style="margin: 0;">
		<div id="centerContain">
			<div class="searchTitleBar">
				<div class="leftLabel">搜索知识</div>
				<div class="rightChoose">
					<span class="bracketsSpan" v-on:click="changeSearchModel('n')" v-bind:style="{color:normalColor}">普通搜索</span>
					<span class="bracketsSpan" v-on:click="changeSearchModel('s')"
					v-bind:style="{color:specificalColor}">高级搜索</span>
				</div>
			</div>
			<div class="searchContain">
				<div class ="normalSearch" v-if="normal">
					<div class="searchLogoShow">
						<i class="iconfont icon-sousuo"></i>
						<p>普通搜索</p>
					</div>
					<div class="searchConditions">
						<span class="bracketsSpan" v-for="(totalType,index) in totalTypeConditions" v-on:click="changeTotalTypeCondition(index)" v-bind:style="{'color':index==pickedTotalTypeConditions?'red':'#ccc'}">{{totalType.item}}</span>
						<div style="width: 3px;
						height: 20px;background-color: #ccc;"></div>
						<span class="bracketsSpan" v-for="(type,index) in typeConditions" v-on:click="changeTypeCondition(index)" v-bind:style="{'color':index==pickedTypeConditions?'red':'#ccc'}">{{type.item}}</span>
					</div>
					<div class="searchBox">
						<div class="searchBoxContain">
							<input type="text">
							<div class="searchBtn" v-on:click="getSearchResult()">搜&nbsp索</div>
						</div>
					</div>
				</div>
				<div class="specificalSearch" v-if="specifical">
					<div class="searchLogoShow">
						<i class="iconfont icon-sousuo"></i>
						<p>高级搜索</p>
					</div>
					<div class="usefulConditionsTitle">
						<i class="iconfont icon-gengduo-2"></i>
						<p>常用条件</p>
					</div>
					<div class="usefulConditions">
						<div class="condition" v-for="usefulConditionItem in usefulConditions">
							<div class="conditionDes">{{usefulConditionItem.conditionDes}}</div>
							<div class="conditionInput" >
								<select v-if="usefulConditionItem.haveSelect" >
									<option v-for="(select,selectIndex) in usefulConditionItem.selects" value="parseInt(selectIndex)" >{{select.item}}</option>
								</select>
								<input type="text" v-if="usefulConditionItem.haveInput" v-bind:placeholder="usefulConditionItem.hints">
							</div>
						</div>
					</div>
					<div class="otherConditionsTitle">
						<i class="iconfont icon-gengduo-2"></i>
						<p>其他条件</p>
					</div>
					<div class="otherConditions">
						<div class="condition" v-for="otherConditionItem in otherConditions">
							<div class="conditionDes">{{otherConditionItem.conditionDes}}</div>
							<div class="conditionInput" >
								<select v-if="otherConditionItem.haveSelect" >
									<option v-for="(select,selectIndex) in otherConditionItem.selects" value="parseInt(selectIndex)" >{{select.item}}</option>
								</select>
								<input type="text" v-if="otherConditionItem.haveInput" v-bind:placeholder="otherConditionItem.hints">
							</div>
						</div>
					</div>
					<div class="specificalSearchBtn">
						<div class="searchBtn" v-on:click="getSearchResult()">搜索</div>
						<div style="width: 3px;
						height: 20px;background-color: #ccc;"></div>
						<div class="resetBtn" v-on:click="clearAllConditions()">重置</div>
						<div style="width: 3px;
						height: 20px;background-color: #ccc;"></div>
						<div class="cancelBtn" v-on:click="cancelSpecificalSearch()">取消</div>
					</div>
				</div>

				<div class="searchResult" v-if="searchResult">

					<div class="continueSearch">
						<div class="curSrc" >
							<p v-for="curSrc in curSrcs">{{curSrc.item}}</p>
						</div>
						<div class="searchBox">
							<input type="text" placeholder="请输入内容...">
							<div class="searchBtn">搜&nbsp索</div>
						</div>
						<div class="searchResultCount">
							<span>
								印象wiki为您找到相关结果约{{searchResultCount}}个
							</span>

							<div class="filterBox">

								<input type="text" style="width: 400px;height: 100%;margin-right: 20px;" name="reservation" id="reservationtime" class="form-control" value="时间不限" class="span4"/>
								<select>
									<option>类别不限</option>
									<option v-for="financeItem in financeData">{{financeItem.item}}</option>
								</select>
								<select>
									<option>默认排序</option>
									<option>按点击率</option>
									<option>按收藏量</option>
									<option>按下载量</option>
									<option>按浏览量</option>
								</select>
							</div>
							<i class="iconfont icon-filter" v-on:click="filterTheSearch()">
								<p style="margin: 0;
								padding: 0;
								font-size: 12px;">搜索工具</p>
							</i>
						</div>
					</div>
					<div class="searchResultContain">
						<div class="searchResultContainBox"  v-for="result in searchResults">
							<div class="searchResultIntro">
								<div class="searchResultTitle">
									{{result.title}}
								</div>
								<img v-bind:src="result.textImage">
								<div class="searchResultIntroWords">
									<span>{{result.text}}</span>
									<div style="display: flex;
									flex-wrap: nowrap;width: 100%;
									height: 14%; align-items: center;">
										<p>关键词:</p>
										<div class="keyWords" >
											
											<i v-for="word in result.keyWords">{{word.item}}</i>
										</div>
										<div class="readAllBtn">阅读全文</div>
									</div>
								</div>
							</div>
							<div class="searchResultAuthor">
								<div class="infoBox">
									<img v-bind:src="result.authorImage">
									<span>{{result.authorName}}</span>
								</div>
								<div class="infoBox">
									<i class="iconfont icon-xinxi">&nbsp&nbsp&nbsp{{result.messageCount}}</i>
									<i  class="iconfont icon-msnui-love">&nbsp&nbsp&nbsp{{result.likeCount}}</i>
								</div>
								<div class="infoBox">
									<i class="iconfont icon-shijian">&nbsp&nbsp&nbsp{{result.publishTime}}</i>
									<i class="iconfont icon-yonghu1">&nbsp&nbsp&nbsp{{result.authorName}}</i>
								</div>
							</div>
						</div>
					</div>
					<div class="searchResultPageBox">
						<div class="page">
							<ul class="pagination pagination-sm">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="rightContain">
			<div class="hotPart">
				<div class="title">热门知识</div>
				<div class="hotContain" v-for="hotContainItem in hotContainData">
					<div class="containTitle">
						<img v-bind:src="hotContainItem.iconfont">
						<p>{{hotContainItem.title}}</p>
					</div>
					<div class="containStar">
						<img v-bind:src="starImg" v-for="index in parseInt(hotContainItem.starCount)">
					</div>
				</div>
			</div>
			<div class="recommendPart">
				<div class="title">为您推荐
				<p>以下信息根据您的兴趣推荐</p></div>
				<div class="recommendTips">
					<span v-for="recommendTipItem in recommendTips">{{recommendTipItem.item}}</span>
				</div>
				<div class="recommendContain" v-for="recommendContainItem in recommendContain">
					<div class="recommendTitle">{{recommendContainItem.title}}</div>
					<div class="recommendContainInside">
						<div class="recommendContainTipsBox">
							<div class="recommendContainTips" v-for="recommendContainItemTip in recommendContainItem.tips">{{recommendContainItemTip.tip}}</div>
						</div>
						<div class="recommendContainAuthorInfo">
							<span>{{recommendContainItem.author}}</span>
							<span>{{recommendContainItem.time}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="https://cdn.bootcss.com/vue/2.4.1/vue.js"></script>
<!-- <script type="text/javascript" src="../js/module.js" ></script> -->
<script type="text/javascript" src="../js/searchPage.js" ></script>
</html>